html {
    background-color: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

/*button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:38px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:19px 41px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}*/

img.resize{
    width:50%; /* you can use % */
    height: auto;
}

.Paper{

}

.Scissors{

}